# Ignorer un dossier entier
/dossier_a_ignorer/
node_modules/
venv/
ecole/
# Ignorer tous les fichiers ayant une extension spécifique
*.log
*.env
*.pyc

# Ignorer un fichier spécifique
config.json
db.sqlite3

# Ne pas ignorer un fichier spécifique dans un dossier ignoré
!dossier_a_ignorer/fichie_important.txt



.venv/
venv/
env/

__pycache__/
*.pyc

db.sqlite3

.env

staticfiles/

.vscode/
.idea/

