
{% extends "template_profil/base.html" %}
{% load static %}
{% block header %}<h1>Liste des professeurs</h1>{% endblock %}
{% block content %}

{% block css %}
    <link rel="stylesheet" href="{% static 'static_profil/css/liste_etudiant.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
{% endblock %}



<div class="barre-outils">
    
    <form class="recherche">
        <label for="recherche-etudiant"></label>
        <input type="search" name="q" id="recherche-etudiant" placeholder="Rechercher un professeur...">
        <button type="submit">Rechercher</button>
    </form>
    {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">
                        <i class="fa-solid fa-circle-check"></i> {{ message }}
                    </div>
                {% endfor %}
            </div>
    {% endif %}

    <a href="{% url 'ajouter_professeur' %}" class="ajouter">
        <i class="fa-solid fa-plus"></i> Ajouter un professeur
    </a>

     <a href="{% url 'accueil_admin' %}" class="retour"><i class="fa-solid fa-arrow-left"></i>Tableau de bord</a>

</div>

<table class="tableau-etudiants">
    <thead>
        <tr>
            <th>N°</th>
            <th>NOM</th>
            <th>PRENOM</th>
            <th>MATIÈRE</th>
            <th>CLASSE</th>
            <th>MODIFIER</th>
            <th>SUPPRIMER</th>
        </tr>
    </thead>

    <tbody>
        {% for professeur in professeur %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td> {{professeur.nom}} </td>
            <td> {{professeur.prenom}} </td>
            <td> {{professeur.matiere}} </td>
            <td> {{professeur.classe}} </td>
            <td>
                <a href="{% url 'modifier_professeur' professeur.id %}" class="modifier">
                    <i class="fa-solid fa-pen-to-square" ></i>
                </a>
            </td>
            <td>
                <a href="{% url 'supprimer_professeur' professeur.id %}" class="supprimer">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="8">Aucun étudiant trouvé.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}



















