{% extends "template_profil/base.html" %}
{% load static %}

{% block header %}
    <h1>SUPPRIMER UN PROFESSEUR</h1>
{% endblock %}

{% block css %}
    <link rel="stylesheet"
          href="{% static 'static_bulletin/css/supprimer_absence.css' %}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
{% endblock %}

{% block content %}

<div class="tout">

    <h2 class="titre">
        <i class="fa-solid fa-triangle-exclamation"></i>
        Confirmation
    </h2>

    <p>
        Voulez-vous vraiment supprimer le professeur
        <strong>
            {{ professeur.nom }}
            {{ professeur.prenom }}
        </strong>
        ?
    </p>

    <p>
        Matière :
        <strong>{{ professeur.matiere }}</strong>
    </p>

    <p>
        Classe :
        <strong>{{ professeur.classe }}</strong>
    </p>

    <form method="POST" class="formulaire">

        {% csrf_token %}

        <button type="submit" class="supprimer">
            <i class="fa-solid fa-trash"></i>
            Confirmer la suppression
        </button>

        <a href="{% url 'liste_professeur' %}" class="annuler">
            <i class="fa-solid fa-xmark"></i>
            Annuler
        </a>

    </form>

</div>

{% endblock %}