body {
    margin: 0;
    width: 100%;
    background-color: gba(255, 255, 255, 0.89);
}

.all{
    width: 15%;
    height: 100vh;
    background-color: rgb(6, 39, 107);
    font-size: 17px;
    margin: 0;
}
.all ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.all li{
    padding: 0;
}
.all li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px 30px;
    transition: background-color 0.2s ease;
}
.all li a:hover {
    background-color: #5a74c0;
}
.all i{
    font-size: 25px;
}